<div class="wallet-trade">
  <div class="container">
      <div class="title">
        <app-wallet-title title="行为统计" subTitle="Total assets" [underline]="false"></app-wallet-title>
      </div>
      <div class="stat">
        <app-wallet-trade-stat></app-wallet-trade-stat>
      </div>
      <div class="detail">
        <div class="info">
          <app-wallet-trade-info></app-wallet-trade-info>
        </div>
        <div class="record">
          <app-wallet-trade-record></app-wallet-trade-record>
        </div>
      </div>
  </div>
</div>
