<div class="user-info">
  <div class="label">
    你的钱包地址：<span class="value">{{address}}</span>
  </div>
  <div class="label">
    你的公钥字符串：<span class="value">{{publicKey}}</span>
  </div>
  <div class="label">
    你的NEP2字符：
    <!-- <button class="el-button el-button--primary el-button--mini">打开</button> -->
    <span class="value">{{nep2}}</span>
  </div>
  <div class="label">
    你的WIF私钥：
    <!-- <button class="el-button el-button--primary el-button--mini">打开</button> -->
    <span class="value">{{wif}}</span>
  </div>
  <div class="label">
    json文件：
    <button class="el-button el-button--primary el-button--mini">导出</button>
  </div>
</div>
