<div class="asset-own">
  <div class="__title">
    我的KAC
  </div>
  <div class="__content">
    <div class="__info">
      <span>总量: 0/KAC</span>
      <span>冻结: 0/KAC</span>
      <span>可用: 0/KAC</span>
    </div>
    <div class="__tip">
      以下数据基于市场成交价计算
    </div>
    <div class="__info">
      <span>总量: 0/NEO</span>
      <span>涨幅: 0%</span>
      <span>盈亏: 0/NEO</span>
    </div>
    <div class="__action">
      <el-button type="primary">转账</el-button>
      <el-button type="warning">创建新单</el-button>
    </div>
  </div>
</div>
