<div class="home-footer">
  <div class="__menu">
    <div class="__item">
      <div class="__photo">
        <img src="http://iph.href.lu/100x100"/>
      </div>
      <div class="__info">
        <h1>资金无忧</h1>
        <span>智能合约点对点结算</span>
      </div>
    </div>
    <div class="__item">
      <div class="__photo">
        <img src="http://iph.href.lu/100x100"/>
      </div>
      <div class="__info">
        <h1>快捷撮合</h1>
        <span>无确认信息撮合效率</span>
      </div>
    </div>
    <div class="__item">
      <div class="__photo">
        <img src="http://iph.href.lu/100x100"/>
      </div>
      <div class="__info">
        <h1>更低费率</h1>
        <span>交易手续费全网最低</span>
      </div>
    </div>
    <div class="__item">
      <div class="__photo">
        <img src="http://iph.href.lu/100x100"/>
      </div>
      <div class="__info">
        <h1>自动分红</h1>
        <span>保障投资人分红收益</span>
      </div>
    </div>
  </div>
  <div class="__menu" style="background: rgb(77,73,72);padding-top:.15rem;align-items: center;">
    <img class="__logo" src="http://iph.href.lu/250x100?text=%E8%93%9D%E9%B2%B8%E6%B7%98" alt="">
    <div class="about">
      <div class="about-item">
        <h4 class="__item-title">商业合作</h4>
        <ul>
          <li>合作伙伴</li>
          <li>友情链接</li>
          <li>加入社群</li>
          <li>广告投放</li>
        </ul>
      </div>
      <div class="about-item">
        <h4 class="__item-title">关于蓝鲸淘</h4>
        <ul>
          <li>申一科技</li>
          <li>媒体报道</li>
          <li>计划白皮书</li>
          <li>蓝鲸淘APP</li>
        </ul>
      </div>
      <div class="about-item">
        <h4 class="__item-title">帮助中心</h4>
        <ul>
          <li>使用教程</li>
          <li>意见反馈</li>
          <li>资费介绍</li>
          <li>服务条款</li>
        </ul>
      </div>
      <div class="about-item">
        <h4 class="__item-title">联系我们</h4>
        <ul>
          <li>业务合作</li>
          <li>服务热线</li>
          <li>举报电话</li>
          <li>微信订阅号</li>
        </ul>
      </div>
    </div>
    <div class="concat">
      <p class="">Focus on us</p>
      <img class="qq" src="http://iph.href.lu/300x50" alt="">
      <img class="db" src="http://iph.href.lu/300x50" alt="">
    </div>
  </div>
<div class="__copy-right">Copyright © 2017 otcgo.cn 版权所有 湘ICP备16019051号-1</div>
</div>
