<div class="account-menu">
  <div class="__menu">
    <div class="__item">
      <img src="http://iph.href.lu/100x100" />
      <span>个人中心</span>
    </div>
    <!-- <div class="__item">
      <img src="http://iph.href.lu/100x100" />
      <span>安全保护</span>
    </div>
    <div class="__item">
      <img src="http://iph.href.lu/100x100" />
      <span>隐私设置</span>
    </div>
    <div class="__item">
      <img src="http://iph.href.lu/100x100" />
      <span>获取特权</span>
    </div> -->
  </div>
  <div class="__indicator">
    <div class="__item __current"><div class="__arrow"></div></div>
    <div class="__item "><div class="__arrow"></div></div>
    <div class="__item"><div class="__arrow"></div></div>
    <div class="__item"><div class="__arrow"></div></div>
  </div>
</div>
