.wallet-token{
  display: flex;
  justify-content: center;
  background: #dfdfdf;
  min-height: 100%;
  .container{
    width: 8rem;
    min-height: 100%;
    background: #fff;
    padding: 0.2rem 0.4rem;
  }
}
