<div class="asset-intro">
  <div class="__header">
    <div class="__summary">
      <div class="__photo">
        <img src="http://iph.href.lu/100x100" />
      </div>
      <div class="__info">
        <h1>开拍学院币</h1>
        <h2>深圳 - 影音娱乐</h2>
        <span>官网网站:
          <a target="__blank" href="http://www.baidu.com">kaipaicollege.com</a>
        </span>
      </div>
    </div>
    <div class="__rating">
      <el-rate [model]="4"></el-rate>
      <span>7.5</span>
    </div>
    <div class="__follow">
      <el-button [plain]="true" type="primary">关注</el-button>
    </div>
  </div>
  <div class="__menu">
    <div class="__item">项目介绍</div>
    <div class="__item __active">项目动态</div>
    <div class="__item">风险评估</div>
    <div class="__item">评论(8888)</div>
  </div>
  <div class="__content">
    <div class="__menu02">
      <div class="__photo">
        <img src="http://iph.href.lu/600x200" />
      </div>
      <div class="__info">
        <div class="__title">
          <h1>从0到1的突破!</h1>
          <h2>开拍学院通过蓝鲸淘管理公司项目代币</h2>
          <span>某某新闻网 2017-07-01 12:00</span>
        </div>
        <div class="__paragraph">
          <p>
            某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某
          </p>
          <p>
            某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某某
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
