<div class="wallet-asset-total">
  <div class="__total">
    <div class="__wrapper">
        <div class="__count">
          8k
        </div>
        <div class="__price">
          8,888.88/NEO
        </div>
        <a routerLink="/wallet/token" class="__view">
          查看详情
        </a>
    </div>
  </div>
  <div class="__info __lefttop">
    <div class="__persent">99.7%</div>
    <div class="__title">钱包资产</div>
    <div class="__desc1">总值:8880.88/NEO</div>
    <div class="__desc2">币种:7</div>
  </div>
  <div class="__info __leftbottom">
    <div class="__persent">00.2%</div>
    <div class="__title">交易挂单</div>
    <div class="__desc1">单数:3</div>
    <div class="__desc2">总值:56.00/NEO</div>
  </div>
  <div class="__info __righttop">
    <div class="__persent">00.1%</div>
    <div class="__title">分红</div>
    <div class="__desc1">可提取量:4.00(4.00)</div>
    <div class="__desc2">冻结量:0.00</div>
  </div>
  <div class="__convert __rightbottom">
    <div class="__wrapper">
        <div class="__dot"></div>
        <div class="__title">换算为<span>NEO <i class="icon iconfont icon-arrow-down"></i></span></div>
        <div class="__subtitle">当前国际平均价格为2.25美元</div>
    </div>

  </div>
  <div class="__circle">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <g stroke="#64a9c4" fill="#ffffff" stroke-width="2">
            <circle r="1.5rem" cx="1.6rem" cy="1.6rem" stroke-dasharray="2,10"></circle>
        </g>
      </svg>
  </div>

</div>
