.wallet-trade-record{
  .__table{
    width: 100%;
    color: #aaa;
    .__row{
      display: flex;
      height: 0.3rem;
      border-bottom: 1px solid #ddd;
      .__col{
        flex: 1;
        transform: scale(0.8);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .__col.__token{
        justify-content: flex-start;
      }
      .__col.__td.__token{
        color: #000;
      }
      .__col.__td.__total, .__col.__action{
        color: #148CE2;
        font-weight: 400;
      }
      .__col.__action{
        cursor: pointer;
      }
    }
  }
}
